.container {
  margin: auto;
  .robotPage {
    margin: 0 1.5%;
    width: 100%;
    & .mainTab {
      &__content {
        flex-wrap: wrap;
      }
    }
    &__tabs {
      display: flex;
      flex-direction: column;
    }
  }
}

.jobAlert {
  position: absolute !important;
  top: 10%;
  right: 3%;

  display: flex;
  flex-direction: column;

  &-alert {
    margin-bottom: 1rem;
    box-shadow: 1px 1px 1px lightgrey;
  }

  @include ibmSans('Regular');
  &__name {
    font-weight: bolder;
  }
}