.mainTab {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  & hr,
  &__header {
    margin-left: 5%;
  }
  & hr {
    margin-inline-end: 0;
    margin-inline-start: 5%;
    width: 20%;
    border: 1.5px solid $mainTab-color;
    background-color: $mainTab-color;
  }
  &__header {
    @include ibmSans('bold');
    font-size: 2rem;
  }
  &__content {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
