@mixin montserrat($weight) {
  @if $weight == 'bold' {
    font-family: 'MontserratBold';
  } @else if $weight == 'light' {
    font-family: 'MontserratLight';
  } @else {
    font-family: 'MontserratMedium';
  }
}

@mixin ibmSans($weight) {
  @if $weight == 'bold' {
    font-family: 'IBMPlexSansKR-Bold';
  } @else if $weight == 'light' {
    font-family: 'IBMPlexSansKR-Light';
  } @else {
    font-family: 'IBMPlexSansKR-Regular';
  }
}

@mixin centerize() {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

@mixin nakedButton() {
  background-color: transparent;
  border: none;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

@mixin vanylaHr() {
  margin-inline-start: unset !important;
  margin-inline-end: unset !important;
}
