@mixin montserrat($weight) {
  @if $weight == 'bold' {
    font-family: 'MontserratBold';
  } @else if $weight == 'light' {
    font-family: 'MontserratLight';
  } @else {
    font-family: 'MontserratMedium';
  }
}

@mixin ibmSans($weight) {
  @if $weight == 'bold' {
    font-family: 'IBMPlexSansKR-Bold';
  } @else {
    font-family: 'IBMPlexSansKR-Regular';
  }
}

@mixin centerize() {
  display: flex;
  align-items: center;
  justify-content: center;
}
