.scriptModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 80vh;
  overflow: hidden;
  border-radius: 8px;

  & hr {
    width: 85%;
    text-align: center;
    border: 0.5px dashed lightseagreen;
  }

  &__header {
    font-size: 1.5rem;
    font-family: 'IBMPlexSansKR-Bold';
    text-align: center;
    padding: 1rem;

    background-color: lightseagreen;
    color: white;
  }

  &__content {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &-input {
      margin: 0 5%;
      font-family: 'IBMPlexSansKR-Regular';
      font-weight: bold;

      &.text {
        & textarea {
          width: 90%;
        }
        & input {
          width: 90%;
        }
      }

      &.user {
        display: flex;
        flex-direction: row;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    & > button {
      margin-right: 1rem;
    }
  }
}

.script-modal {
  & .modal-content {
    border-radius: 8px !important;
    border: unset;
  }
}
