.aboutPage {
  padding-top: 20px;
}

.mainTab {
  margin-bottom: 0;
  height: 60px;
}

footer {
  text-align: center;
}

.tab__content {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
}
