.aboutPage {
  margin-top: 25px;
  &__members {
    margin-left: 20px;
    &__mail {
      margin-left: 15px;
    }
    img {
      width: 15%;
    }
  }
  &__tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__react {
      width: 25%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__firebase {
      width: 25%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__uipath {
      width: 25%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  footer {
    text-align: center;
  }
}
