.container {
  margin: auto;
  .communityPage {
    width: 100%;

    &__content {
      width: 100%;
    }
    .fetchLoader {
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
}

.newPostModal {
  width: 70% !important;
  height: 70%;
  max-width: unset !important;
  margin: 0 !important;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;

  & .modal-content {
    width: 100% !important;
    height: 100% !important;
  }
}
