.navBar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1001;
  background-color: $navbar-color;
  @include centerize();

  &__container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__home {
      color: white;
      @include montserrat('bold');
    }

    &__col {
      display: flex;
      justify-content: flex-end;
      &__routeTab {
        &__navItem {
          display: flex;
          margin: 0 1rem;
          &__navLink {
            display: flex;
            align-items: center;
            @include montserrat('light');
            cursor: pointer;
            color: white !important;
            &:hover {
              opacity: 50%;
            }
          }
        }
      }
    }
  }
}
