.scriptDetailPage {
  display: flex;
  flex-direction: column;

  min-height: 500px;

  margin-top: 3rem;

  border: 3px solid lightseagreen;
  border-radius: 18px;
  box-shadow: 5px 5px 5px lightgray;

  font-family: 'IBMPlexSansKR-Regular';

  overflow: hidden;

  &__header {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    color: white;
    padding: 1rem;

    &-title {
      font-size: 1.8rem;
      font-family: 'IBMPlexSansKR-Bold';
    }

    &-author {
      font-size: 1.2rem;
    }

    &-goBackBtn {
      all: unset;

      position: absolute;
      left: 1rem;
      transform: translateY(-50%);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: space-around;
    width: 100%;

    &-cont {
      width: 100%;
      margin: 2rem 0;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-label {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    & iframe {
      min-width: 70%;
      height: 100%;
      min-height: 400px;
    }
  }

  &__footer {
    display: flex;
    width: 50%;
    margin: 2.5rem auto;
    justify-content: center;
    &-btnContainer {
      all: unset;

      padding: 1rem;
      border-radius: 8px;
      background-color: lightseagreen;

      & span {
        font-weight: bold;
        margin-left: 0.5rem;
        color: white;
      }

      &:hover {
        transform: translateY(-0.3rem);
        transition: transform 200ms ease;
      }

      &:active {
        transform: scale(0.95);
      }

      &.middle {
        margin: 0 1rem;
      }
    }
  }
}
