//  Constants
@import 'Constants/colors.scss';
@import 'Constants/style-macro.scss';

// Component
@import 'Components/NavBar/index.scss';
@import 'Components/Jumbotron/index.scss';
@import 'Components/Button/index.scss';
@import 'Components/Button/GoBackButton/index.scss';
@import 'Components/MainTab/index.scss';
@import 'Components/MainTab/Tab/index.scss';
@import 'Components/Footer/index.scss';
@import 'Components/Card/index.scss';
@import 'Components/Card/SlateCard/index.scss';
@import 'Components/Post/index.scss';
@import 'Components/Modals/PostModal/index.scss';
@import 'Components/Modals/WarnModal/index.scss';

// Page
@import 'Pages/MainPage/index.scss';
@import 'Pages/RobotPage/index.scss';
@import 'Pages/CommunityPage/index.scss';
@import 'Pages/PostDetailPage/index.scss';

// Font
@font-face {
  font-family: 'MontserratBold';
  src: url('Assets/Fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'MontserratMedium';
  src: url('Assets/Fonts/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'MontserratLight';
  src: url('Assets/Fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSansKR-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSansKR-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@media screen and (min-width: '1360px') {
  .navBar__container,
  .container {
    width: 60% !important;
  }

  .myJumbotron {
    &__text {
      left: 21%;
    }

    &__img {
      & img {
        max-height: none;
      }
    }
  }
}

html,
body,
#root {
  overflow-x: hidden;
  overflow-y: overlay;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  @media screen and (max-width: '1360px') {
    font-size: 0.9rem;
  }

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
