.warnModal {
  margin: 0 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;

  &__content {
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid gray;

    &__text {
      margin-left: 1rem;
      font-weight: bolder;
    }

    & > img {
      width: 1.2rem;
    }
  }
}
